<form
  th:fragment="form"
  class="halo-form"
  th:action="@{/password-reset/email/{resetToken}(resetToken=${resetToken})}"
  method="post"
  th:object="${form}"
>
  <div class="alert alert-error" role="alert" th:if="${error}">
    <strong th:if="${error == 'rate_limit_exceeded'}">操作过于频繁，请稍后再试。</strong>
  </div>
  <div class="form-item">
    <label for="password">新密码</label>
    <th:block
      th:replace="~{gateway_fragments/input :: password(id = 'password', name = 'password', required = 'true', minlength = 5, maxlength = 257, enableToggle = true)}"
    ></th:block>
    <p
      class="alert alert-error"
      th:if="${#fields.hasErrors('password')}"
      th:errors="*{password}"
    ></p>
  </div>
  <div class="form-item">
    <label for="confirmPassword">确认新密码</label>
    <th:block
      th:replace="~{gateway_fragments/input :: password(id = 'confirmPassword', name = 'confirmPassword', required = 'true', minlength = 5, maxlength = 257, enableToggle = true)}"
    ></th:block>
    <p
      class="alert alert-error"
      th:if="${#fields.hasErrors('confirmPassword')}"
      th:errors="*{confirmPassword}"
    ></p>
  </div>
  <div class="form-item">
    <div class="alert">密码长度至少为 5 位，请妥善保管您的新密码。</div>
  </div>
  <div class="form-item">
    <button type="submit">确认重置</button>
  </div>

  <script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
      setupPasswordConfirmation("password", "confirmPassword");
    });
  </script>
</form>
